.App {
  text-align: center;
}
.friends-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.center-vert {
  align-self: center;
  margin-right: 5%;
}

.form {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  
}

.input {
  margin-bottom: 15px;
  align-self: center;
}

.age-input {
  width: inherit;
}

.submit-button {
  margin: 0 auto;
  width: 250px;
}