.App {
  text-align: center;
}
.friends-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.center-vert {
  align-self: center;
  margin-right: 5%;
}

.input {
  margin-bottom: 15px;
}