.info-section {
    display: flex;
    align-content: center;
    justify-content: center;
}
.vert-center {
    align-self: center;
    margin-right: 2em;
}

.update-section {
    display: flex;
    align-items: center;
}
.update-left {
    margin-left: 1.5em;
}